#s-7ff1ec08-783b-462c-b05d-3027b8b92242 > #backgroundBox {
  position: absolute;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 463.0px;
  max-height: 868.0px;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Image_1 {
  position: absolute;
  width: 463.0px;
  height: 868.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Image_1 {
  box-shadow: none;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 {
  box-shadow: none;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 {
  position: absolute;
  width: 157.5px;
  min-height: 45.99999999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 {
  box-shadow: none;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 {
  position: absolute;
  width: 29.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 {
  box-shadow: none;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 {
  position: absolute;
  width: 262.0000000000002px;
  min-height: 192.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 {
  box-shadow: none;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7ff1ec08-783b-462c-b05d-3027b8b92242 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}