#s-8b360097-b1f3-417b-9792-1dff556b253e > #backgroundBox {
  position: absolute;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 463.0px;
  max-height: 868.0px;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Image_1 {
  position: absolute;
  width: 463.0px;
  height: 868.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8b360097-b1f3-417b-9792-1dff556b253e #s-Image_1 {
  box-shadow: none;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 {
  box-shadow: none;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 {
  position: absolute;
  width: 150.00000000000003px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 {
  box-shadow: none;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 {
  box-shadow: none;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8b360097-b1f3-417b-9792-1dff556b253e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}